:root {
    --main-font: "Roboto"; sans-serif;
    --secondery-font: "Raleway"; sans-serif;
    --accent-color: #2196F3; 
}
    
body {
    font-family: var(--main-font);
}
/*========components=======*/
li {
    list-style-type: none;
}
ul{
    padding-left: 0;
}
a{
    text-decoration: none;
    color: #212121; 
}
.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.logo {
    font-family: var(--secondery-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192; 
    letter-spacing:0.03em;
    color: var(--accent-color); 

}
.logo
.accent-white {
    font-family:var(--secondery-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: #000000;
}
.logo
.accent-dark {

    font-family: var(--secondery-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1,192;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.tel:hover,
.tel:focus,
.mail:hover,
.mail:focus {
    color: var(--accent-color); 
}

/*========components======*/
    
/*=========header========*/
.navigation-list {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: #212121;
}
.contacts-head-list 
>.contacts-head-item a{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: #757575;
}
.navigation-list-link:hover,
.navigation-list-link:focus {
    color: var(--accent-color)  
}
.navigation-list.navigation-list-link,
.current{
    color: var(--accent-color);
}
.contacts-head-item a:hover,
.contacts-head-item a:focus {
    color: var(--accent-color)  
}
/*==========end header=====*/
/*========hero =========*/
.main-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    color: #ffffff;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    background-color: teal;
}    
.mdlbutton {
    font-family:var(--main-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: #FFFFFF;
   background-color:var(--accent-color);
   border-radius: 4px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
    /*=======end hero======*/
    /*=======about=======*/
    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;

        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
    .about-list>.about-list-item
    .title-about-list {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.143;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        
        color: #212121;
   }     
   .about-list >.about-list-item 
    .about-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.714;
        letter-spacing: 0.03em;
        color: #757575;
   }
   /*========end about====*/
   /*========our job======*/
  
   /*====end our job=======*/
   
   /*=========employee======*/
   .employee-list >
   .employee-list-item >
   .employee-list-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.188;
    letter-spacing: 0.03em;
    color: #212121;
   }
   .employee-list >
   .employee-list-item >
   .employee-list-prof {
        font-weight:400;
        font-size: 16px;
        line-height: 1.188; 
        letter-spacing: 0.03em;
        color: #757575;    
   }
   /*=======end employee=====*/
   /*=======footer==========*/
   .footer{
       background-color:teal;
   }
   .address{
       font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #FFFFFF;      
   }
   .contacts a{
    color: rgba(255, 255, 255, 0.6);
}
   /*=======end footer====*/
   /*=======our projects======*/
   .portfolio-list>.portfolio-list-item
   .portfolio-title {
    font-family:var(--main-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}
    .portfolio-list>.portfolio-list-item
    .portfolio-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.875;
        letter-spacing: 0.03em;
        color: #757575;
    }
    .filter {
        font-family: var(--main-font);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.625;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
        border: none;
        background-color: #ffffff;
    }
    .filter.active{
        color: #ffffff;
        background-color: var(--accent-color);
        
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;

    }



   


  




    
    
    
    






   
  
   
  
    
    
    




   
 
   
      









           






